a {
    text-decoration: none !important;
    color: #42517A !important;
}

.active {
    font-weight: bold !important;
}

.jumbo {
    background-image: url(https://www.thomann.de/blog/app/uploads/sites/6/2020/10/vinylblog_header_770x425.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.text-red {
    color: #D05335;
}

.text-blue {
    color: #42517A !important;
}