a {
    text-decoration: none !important;
    color: #42517A !important;
}

.active {
    font-weight: bold !important;
}

.jumbo {
    background-image: url(https://levitation.fm/cdn/shop/collections/vinyl-761556_1024x1024.jpg?v=1735924100);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.text-red {
    color: #D05335;
}

.text-blue {
    color: #42517A !important;
}

.text-yellow {
    color: #EBC256 !important;
}

.text-bg {
    color: #FFF3E2 !important;
}

.bg-blue {
    background-color: #42517A !important;
}

.bg-yellow {
    background-color: #EBC256 !important;
}

.bg-red {
    background-color: #D05335 !important;
}

.bg-darkblue {
    background-color: #272838;
}

.bg-lightyellow {
    background-color: #fff3e2;
}

.vinyl-box-wrapper {
    text-align: center;
    margin-top: 4rem;
}

.vinyl-box {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    overflow: visible;
}

.vinyl-disc {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -20%);
    transition: transform 0.5s ease;
    box-shadow: 0 1px 3px #272838;
}

.vinyl-disc-top {
    z-index: 3;
}

.vinyl-disc-bottom {
    z-index: 1;
    border-radius: 50%;
    transition:
        transform 0.5s ease,
        margin-left 0.4s ease;
    margin-left: 0;
}

.vinyl-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: #425179;
    color: #fff3e2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 4;
    box-shadow: 0 2px 8px #272838;
}

.vinyl-box:hover .vinyl-disc {
    transform: translate(-50%, -70%);
}

.vinyl-box:hover .vinyl-disc-bottom {
    margin-left: 80px;
    transition-delay: 0.5s;
}